<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/img/health.ico">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    *{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
    }
    html,
    body,
    header,
    #intro {
    height: 100%;
    }
    img {
    display: block;
    max-width: 100%;
    height: auto;
    }
    </style>
    <title>Health-App</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/home">Health Prediction App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <a style="margin-left: 75%;" class="navbar-brand" href="/about">About</a>
        <a class="navbar-brand" href="/data">Data</a>
       <!--  <a class="navbar-brand" href="/login">Sign-Out</a>  --> 
      </nav>
      <!--Mask-->
      <div id="intro" class="container-fluid view ">
        <h1 class="text-center text-capitalize pt-5">Heart Disease Prediction Using Machine Learning!</h1>
        <h2 class="text-center text-capitalize pt-5">Please fill up the following information!!</h2>
        <hr class="w-75 mx-auto pt-5">
        <div class="row mb-5">
          <div class="col-lg-6 col-md-6 col-12 my-auto">
            <img style="margin-top: -60%; width: 80%;" src="../static/images/heart.jpeg" class="float-left">
            <hr class="w-75 mx-auto pt-5">
            <h1> {{ prediction_text }}</h1>

          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <form action="{{ url_for('predict1')}}" method="post">
              <div class="form-group">
                <!-- TODO : Year to accept only year date picker -->
                <label for="Age">Age</label>
                <input class="form-control" type="number" id="Age" name="Age" required="required" placeholder="Your Age in years">
              </div>
              <!-- 
              <div class="form-group">
                <label for="Sex">Sex</label>
                <input class="form-control" type="number" id="Sex" name="Sex" required="required" placeholder="Male = 1 / Female = 0">
              </div>
              -->
              <div class="form-group">
                <label for="Chestpain">Chest pain</label>
                <input class="form-control" type="number" id="Chestpain" name="Chest pain" required="required" placeholder="Chest pain - 0 : asymptomatic 1 : atypical angina 2 : non-anginal pain 3 : typical angina ">
              </div>
              <div class="form-group">
                <label for="BloodPressure">TREST Blood Pressure</label>
                <input class="form-control" type="number" id="BloodPressure" name="BloodPressure" required="required" placeholder="Resting Blood Pressure">
              </div>
                <!-- 
              <div class="form-group">
                <label for="Alcohol">Cholestrol in mg/dl</label>
                <input class="form-control" type="number" id="Alcohol" name="Alcohol" required="required" placeholder="Cholestrol in mg/dl">
              </div>
              <div class="form-group">
                <label for="BMI">Fasting blood sugar</label>
                <input class="form-control" type="number" id="BMI" name="BMI" required="required" placeholder="Fasting blood sugar (> 120 mg/dl, 1 = true; 0 = false)">
              </div>
              -->
              <div class="form-group">
                <label for="RegularMedicine">REST ECG Results</label>
                <input class="form-control" type="number" id="RegularMedicine" name="RegularMedicine" required="required" placeholder="0-Showing probable/ left ventricular hypertrophy  1 -Normal 2 -Having ST-T wave abnormality ">
              </div>
              <div class="form-group">
                <label for="thalach">Maximum Heart Rate</label>
                <input class="form-control" type="number" id="thalach" name="thalach" required="required" placeholder="Maximum Heart Rate / thalach">
              </div>
              <div class="form-group">
                <label for="JunkFood">Exercise Induced Angina</label>
                <input class="form-control" type="number" id="JunkFood" name="JunkFood" required="required" placeholder="Exercise induced angina  Yes = 1 / No = 0 exang">
              </div>
              <div class="form-group">
                <label for="OLDPEAK">OLDPEAK</label>
                <input class="form-control" type="float" id="OLDPEAK" name="OLDPEAK" required="required" placeholder="OLDPEAK">
              </div>
              <div class="form-group">
                <label for="SLOPE">SLOPE</label>
                <input class="form-control" type="number" id="SLOPE" name="SLOPE" required="required" placeholder="SLOPE 0: upsloping 1: flat; 2: downsloping ">
              </div>

              <div class="form-group">
                <label for="ca">Number of major vessels colored by flourosopy</label>
                <input class="form-control" type="number" id="ca" name="ca" required="required" placeholder="0-3">
              </div>
              <div class="form-group">
                <label for="thal">Thalassemia</label>
                <input class="form-control" type="number" id="thal" name="thal" required="required" placeholder="0 - NULL 1 - fixed defect 2 - normal blood flow 3 - reversible defect">
              </div>

              <button type="submit" class="btn btn-danger">Predict</button>
            </form>
          </div>
        </div>
      </div>
      <!--/.Mask-->
    </header>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    

  </body>
</html>